<%= form_with(model: storehouse) do |form| %>
  <% if storehouse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(storehouse.errors.count, "error") %> prohibited this storehouse from being saved:</h2>

      <ul>
        <% storehouse.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t 'storehouse.title' %>
    <%= form.text_field :title, minlength: 2, placeholder: (t 'storehouse.template_title') %>
  </div>

  <div class="field">
    <%= form.label t :district %>
    <%= form.select :district, i18n_array_disrict %>
  </div>

  <div class="actions">
    <%= form.submit t 'storehouse.new' %>
  </div>
<% end %>
