<p id="notice"><%= notice %></p>

<h1><%= t 'storehouse.list'%></h1>

<table>
  <thead>
    <tr>
      <th><%=t 'storehouse.title' %></th>
      <th><%=t 'storehouse.data' %></th>
      <th><%= t 'doing' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @storehouses.each do |storehouse| %>
      <tr>
        <td><%= storehouse.title %></td>
        <td><%= storehouse.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= button_to (t 'storehouse.show'),  storehouse, method: :get %></td>
        <td><%= button_to (t 'storehouse.del'), storehouse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to (t 'storehouse.new'), new_storehouse_path, method: :get %>
