<p id="notice"><%= notice %></p>

<h1>Storehouses</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>District</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @storehouses.each do |storehouse| %>
      <tr>
        <td><%= storehouse.title %></td>
        <td><%= storehouse.district %></td>
        <td><%= link_to 'Show', storehouse %></td>
        <td><%= link_to 'Edit', edit_storehouse_path(storehouse) %></td>
        <td><%= link_to 'Destroy', storehouse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Storehouse', new_storehouse_path %>
