<p>
  <strong>Title:</strong>
  <%= @storehouse.title %>
</p>

<p>
  <strong>District:</strong>
  <%= @storehouse.district %>
</p>

<%= render template: 'things/index'%>
<%= link_to (t 'delivery.new'),  new_storehouse_delivery_path(@storehouse) %>
<%= link_to 'История доставок',  storehouse_deliveries_path(@storehouse) %>
<%= link_to (t :back), storehouses_path %>
