<h1><%= t 'commodity.list' %></h1>

<table>
  <thead>
  <tr>
    <th><%= t 'commodity.name' %></th>
    <th><%= t 'commodity.date_of_creation' %></th>
    <th><%= t 'commodity.date_of_editing' %></th>
    <th><%= t 'doing' %></th>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <% @commodities.each do |commodity| %>
    <tr>
      <td><%= commodity.name %></td>
      <td><%= commodity.created_at.strftime("%Y-%m-%d") %></td>
      <td><%= commodity.updated_at.strftime("%Y-%m-%d") %></td>
      <td><%= button_to (t 'commodity.edit'), edit_commodity_path(commodity), method: :get %>
        <%= button_to (t 'commodity.del'), commodity, method: :delete, data: { confirm: (t 'are_you_sure') } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= button_to (t 'commodity.new'), new_commodity_path, method: :get %>